*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
}
.mycontainer{
    max-width: 960px;
    padding:48px 15px;
    margin:0px 70px; 
}
/* HEADER */
/* header_top */
.header__top{
    height: 50px; 
    background: #0d369f;
    padding: 14px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 991.98px) {
    .header__top{
        display:none;
    }
 }
 .header__top--left ul li a, .header__top--right ul li a{
    height: 100%;
    transition: 0.5s;
 }
 .header__top--left ul li a:hover, .header__top--right ul li a:hover{
    color: #ff6e65;
 }
/* header_top--left */
.header__top--left ul{
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
.header__top--left li{
    margin-right: 40px;
}
.header__top--left ul a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.header__top--left ul li i{
    color: #fff;
}
/* header_top--right */

.header__top--right ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
   
}
.header__top--right ul li{
    margin-left: 40px;
}
.header__top--right ul a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
/* header bottom */
 .navbar-nav{
    margin-left: auto;
}

.header__bottom .input-search input{
    border-radius: 30px;
    padding: 10px 35px 10px 20px;
    font-size: 15px;
}

.header__bottom .brandname{
    color: #0d369f;
    font-size: 26px;
    font-weight: 600;
    transition: 0.5s;
}

.header__bottom .nav-item .nav-link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.header__bottom .navbar-brand .brandname:hover{
    color: #ff6e65;
}

.header__bottom .nav-item .nav-link:hover{
    color: #ff6e65;
}

.header__bottom .nav-item.active .nav-link{
    color: #ff6e65;
}

.header__bottom form{
    position: relative;
}
.search__right{
    position: relative;
}
#search_header{
    color: #0d369f;
    position: absolute;
    top: 6px;
    right: 0;
    padding: 0 20px 0 0 ;
    transition: .5s;
}

#search_header:hover, .header__bottom svg:hover{
    color: #ff6e65;
    border: 1px solid rgba(128, 128, 128,0.5);
}

.header__bottom svg:hover{ 
    border:none;
}

.header__bottom svg{
    color: #0d369f;
    transition: .5s;
    cursor: pointer;
}

.header__bottom #navbarDropdown::after{
    display: none;
    
}

.header__bottom .nav-item .dropDownicon{
    font-size: 18px;
    color: gray;
    transform: scale(0.7);
}

button.navbar-toggler{
    padding: 0;
}

.navbar-expand-lg .navbar-toggler {
    background: #0d369f;
    border: none;
    color: white;
    height: 30px;

}

.navbar-toggler-icon::before{
    line-height: 30px;
}

@media only screen and (max-width: 991px) {.form-inline .input-search{
    text-align: center;
   
}}

/* block chứa các thẻ home, about us... */
@media only screen and (max-width: 991px){#navbarSupportedContent ul.navbar-nav{
    display:block;
    text-align: center;
    background: white; 
    width: 100%;
}} 
/* block chứa ô search */
 @media only screen and (max-width: 991px){#navbarSupportedContent .form-inline{
    margin-top: 20px;
    width: 100%;
    background: white;
    padding: 20px 0;
    justify-content: center;

}} 

 @media only screen and (max-width: 991px){.header__bottom .nav-item.active .nav-link{
    color:#0d369f;
}}
@media only screen and (max-width: 991px){.header__bottom .nav-item .nav-link:hover{
    color:#0d369f;
}}

@media only screen and (max-width: 991px){.form-inline .input-search{
    position: relative; 
    display: inline-block; 
}}

@media only screen and (max-width: 991px){button#search_header{
    position: absolute;
    right: 0;
    top: -14px;
}}
@media only screen and (max-width: 991px){.mb-2, .my-2{ 
   margin-top: 20px !important;
}}
    
@media only screen and (max-width: 991px){.navbar-expand-lg .cont-ser-postion{ 
    position: absolute;
    top: 22px;
    right: 50px;
 }}  
 
 


